.customCard{
  box-shadow: -2px 2px 4px 0px #00000029;
  border-radius: 3px;
  background: white !important;
  cursor: pointer;
}
.customCard:hover{
  transform: translate(-3px, -3px);
}
.courseName{
  font-size: larger;
}
.courseTitle{
  font-weight: bold;
  font-size: small;
}