.customCard{
  box-shadow: -2px 2px 4px 0px #00000029;
  border-radius: 3px;
  background: white !important;
  cursor: pointer;
}
.customCard:hover{
  transform: translate(-3px, -3px);
}
.courseName{
  font-size: larger;
}
.courseTitle{
  font-weight: bold;
  font-size: small;
}
.customInput{
  background: transparent;
  border: 0px;
  width: 120px;
}
.customInput:focus{
  border: 0px;
  outline: none;
}
.inputBorder{
  border-bottom: 2px solid #808080;
}
.inputBorder:focus-within{
  border-bottom: 2px solid blue;
}